<header>
  <nav class="navbar navbar-expand-md navbar-custom">
    <img src="../../images/MappyTrailsLogo.png" width="125" height="37.5" alt="">
    <a class="nav-item nav-link" id="head-categories" href="/">Categories</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">


      <div class="d-flex justify-content-end">
        <% if(userId){ %>
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="head-maps" href="/profile/maps/">My Maps</a>
          <a class="nav-item nav-link" id="head-new" href="/maps/new/">Create a New Map</a>
        </div>
        <form class="form-inline" action="/logout" method="POST">
          <button class="btn btn-outline-dark" type="submit">Logout</button></form>
        <p class="h6" style="margin-bottom: 10px; margin-top:10px; margin-right: 10px">Logged in as
          !</p>
        <% } else{ %>
        <form class="form-inline" action="/login" method="GET">
          <button type="submit" class="btn btn-outline-dark" style="margin-right: 10px">Login/Register</button>
        </form>
        <% } %>
      </div>
  </nav>
</header>
