<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Categories</title>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em;">
      <h3>The Best Maps for <%=category %> </h3>
      <% for(let map of maps) { %>
        <ul>
          <form action="/maps/<%=map.id%>/" method="GET">
            <button type="submit" class="buttons"><%= map.name %></button>
          </form>
        </ul>
          <% } %>
    </main>

  </body>
</html>
<!-- FIX THIS UGLY BASTARD. -->