<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="/images/tumbleweed-icon.png">
  <title>Map</title>
  <style>
    /* Set the size of the div element that contains the map */
    #map {
      height: 70vh;
      width: 100%;
    }
  </style>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"
    integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
    crossorigin="anonymous"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <!-- For the like button -->
  <div id="map-head-container" class="container">
    <h1 id="map-title"><%= maps[0].name %></h1>

    <% if(userId){ %>
      <% if (!favemaps.includes(maps[0].id)){ %>
      <svg class="ico" width="26" height="26" viewBox="0 0 24 24">
        <path
          d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z">
        </path>
      </svg>
      <div id="fav-text-indicator">
        <span id="fav-text-arrow" style='font-size:2em;'>&#8604; </span>
        <p id="fav-text">Click to favourite!</p>
      </div>
      <% }else {%>
      <svg  class="ico liked " width="26" height="26" viewBox="0 0 24 24">
        <path  id ="unfavorite" data-mapid="<%=maps[0].id%>"
          d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z">
        </path>
      </svg>
      <% } %>    
    <% } %>
  </div>
  <div class="map-container">
    <div id="map">
    </div>
  </div>
</body>
<script type="text/javascript" src="/scripts/googleMaps.js"></script>
</html>