<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mappy Trails</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
    <%- include('partials/_header') %>
    <h1>Hello, Traveller!</h1>
    <h3 class="slogan">This is where the slogan goes.</h3>
<<<<<<< HEAD
        <div class="list_container">
          <ul>
            <form class="form-inline" action="/categories/cafes" method="GET">
            <button type="submit" class="btn btn-outline-dark, categories_coffee">Coffee</button>
          </form>
          <form class="form-inline" action="/categories/bars" method="GET">
            <button type="submit" class="btn btn-outline-dark, category_bars" >Watering Holes</button>
          </form>
          <form class="form-inline" action="/categories/arts" method="GET">
            <button type="submit" class="btn btn-outline-dark, category_art">Arts</button>
          </form>
          <form class="form-inline" action="/categories/restaurants" method="GET">
            <button type="submit" class="btn btn-outline-dark, category_food">Foods</button>
          </form>
          </ul>
=======
    <div class="container"></div>
      <div class="row justify-content-md-center">
        <div class="col col-auto">
          <h2 class="category" id="cafes">Coffee</h2>
>>>>>>> feature/cssedits
        </div>
        <div class="col col-auto">
          <h2 class="category" id="bars">Watering Holes</h2>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col col-auto">
          <h2 class="category" id="arts">Arts</h2>
        </div>
        <div class="col col-auto">
          <h2 class="category" id="foods">Foods</h2>
        </div>
      </div>
  </body>
</html>
