<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link rel="icon" href="/images/tumbleweed-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <%- include('partials/_header') %>
    <!-- Bootstrap Box Design -->
    <form id="login-form" action="/login" method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Welcome back! Please, remind us of your email:</label>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Happy to see a friendly face around here.</small>
      </div>
      <button class="buttons" id="login" type="submit">Login</button>
    </form>

    <form id="registration" action="/register" method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Oh, is it your first time? Let's get started with an email...</label>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="One email, if you please.">
        <small id="emailHelp" class="form-text text-muted">Everyone is a friend on this trail.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">And a name we can call you by. Trail Name:</label>
        <input name="user_name" type="text" class="form-control" placeholder="What should we call you, while you're here?">
      </div>
      <button class="buttons" id="register" type="submit">Register</button>
    </form>
  </body>
</html>


