<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
    <%- include('partials/_header') %>
      <form action="/login" method="post"> <!--Does this go to my_maps with a POST?-->
        <!--Login area: -->
        <label for="login" class="form-headers">Welcome back!</label>
        <textarea name="email" placeholder="Login Email"></textarea>
        <button class="buttons" id="login" type="submit">Login</button>
      </form>
        <!--Registration area: -->
        <h2>Or if you're new here, register:</h2>
        <form action="/login" method="post">
        <label for="register" class="form-headers">What should we call you?</label>
        <textarea name="trail_name" placeholder="Trail Name"></textarea>
        <button class="buttons" id="register" type="register">Register</button>
      </form>
  </body>
</html>


