<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
    <%- include('partials/_header') %>
    <!-- Bootstrap Box Design -->
    <form id="login-form" action="/login" method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Welcome back! Please, remind us of your email:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Happy to see a friendly face around here.</small>
      </div>
      <button class="buttons" id="login" type="submit">Login</button>
    </form>
    
    <form id="registration" action="/register" method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Oh, is it your first time? Here: give us an email...</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Welcome! Everyone is friends on this trail.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">And a name we can call you by. Trail Name:</label>
        <input type="name" class="form-control" placeholder="What should we call you, while you're here?">
      </div>
      <button class="buttons" id="register" type="submit">Register</button>
    </form>
  </body>
</html>


