<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create New Map</title>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/newMap.js"></script>

  </head>

  <body>
    <%- include('partials/_header') %>
    <h1 class="top-page">Plot your trail, friend:</h1>
  <!--New MAP Area-->
      <form id="new_map" action="/maps" method="post">
        <div class="form_group">
          <label for="map_description">What do you want to name this trail?</label>
          <input id="map_name" name="map_name" type="text" class="form-control" placeholder="E.g., 'Coolest Cafes', 'Best Downtown Bars'">
          <small class="form-text text-muted">Feel free to get creative, but remember that others will see this title, too, unless you make it private.</small>
          <label for="map_category">Select list (select one):</label>
          <select name="map_category" class="form-control" id="maps-list">
            <option value ="cafes">Cafes</option>
            <option value ="restaurants">Foods</option>
            <option value ="bars">Bars</option>
            <option value ="arts">Arts</option>
          </select>
          <label for="map_description">We're listening--tell us some more:</label>
          <textarea name="map_description" class="form-control" rows="3" id="comment"></textarea>

        </div>
        <button class="buttons" type="submit">Add Some Destinations</button>
      </form>
  <!--New POINTS area-->
        <form id="new_point" action="/maps/:mapId/points" method="post">
          <input name="point_name" type="text" class="form-control" placeholder="E.g., 'Moon Bean Cafe', 'Sneaky Dee's'">
          <small class="form-text text-muted">Feel free to get creative, but remember that others will see this title, too, unless you make it private.</small>

          <label for="point_description">Sounds like a great spot. Anything else to add?</label>
          <textarea name="point_description" class="form-control" rows="3" id="comment"></textarea>
          <label for="point_img">How about a picture of the locaiton?</label>
          <input name="point_img" type="text" class="form-control" placeholder="E.g., 'http://www.imagelink.com'">
          <button class="buttons" type="submit">Mark the Spot</button>
        </form>
  </body>
</html>
