body {
  background-image: url("../images/BACKGROUNDnik-shuliahin-rkFIIE9PxH0-unsplash.jpg");


  h1 {
    color: #595959;
  }
}

#login-form {
  padding: 2em;
}

#registration {
  padding: 2em;
}
.compassImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19em;
  height: 19em;
}

a {
  color: inherit;
}

h1 {
  padding-top: 0.25em;
  font-family: 'Shadows Into Light', cursive;
  color: #5B5941;
  text-shadow: 2px 3px 0px #FCD0A1;
  text-align: center;
  font-weight: 600;
}

h2, h3, h4, h5, h6 {
  padding-top: .25em;
  font-family: 'Shadows Into Light', cursive;
  color: #5B5941;
  text-shadow: 1px 2px 0px #FCD0A1;
  text-align: center;
}

.header-box {
  background-color: rgba(231,216,201, .4);
  padding-bottom: 0.25em;
}

.form-group {
  background-color: rgba(231,216,201, .4);
}

.form-control {
  padding-left: .25em;
  padding-right: .25em;
}


.category {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5em;
  background-position: left top;
  width: 12em;
  height: 12em;
  box-shadow: 5px 10px #595959;
  background-size: contain;
}
.category:hover {
  transform: perspective(100px) translateZ(0.25em);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.2s;
  transition-property: transform;
}
.category p {
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5em;
  text-shadow:  0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none !important;
}
.firstRow {
  display: flex;
}
#foods {
  color: #87b6A7;
  border: 3px solid #87b6A7;
  background-image: url("../images/FOODthought-catalog-9aOswReDKPo-unsplash.jpg");
  margin: 20px;
}

#arts {
  color: #45CB85;
  border: 3px solid #45CB85;
  background-image: url("../images/ARTSlucas-sankey-4Ir9T2-1G_k-unsplash.jpg");
  margin: 20px;
}

#cafes {
  color: #E3F09B;
  border: 3px solid #E3F09B;
  background-image: url("../images/COFFEEnathan-dumlao-XOhI_kW_TaM-unsplash.jpg");
  margin: 20px;
}

#bars {
  color: #F7D08A;
  border: 3px solid #F7D08A;
  background-image: url("../images/BARSadam-jaime-dmkmrNptMpw-unsplash.jpg");
  margin: 20px;
}

//For the buttons:
.buttons {
  color: #fff;
  background-color: #595959;
  border-color: #F7D08A;
  font-family: 'Rye', cursive;
  letter-spacing: 0.05em;
  border-radius: 0;
}

.button-head {
  color: #fff;
  background-color: #595959;
  border-color: #F7D08A;
  font-family: 'Rye', cursive;
  letter-spacing: 0.05em;
  border-radius: 0;
}

#button-edit {
  color: #57E2E5;
  background-color: #595959;
  border-color: #F7D08A;
  font-family: 'Rye', cursive;
  letter-spacing: 0.05em;
  border-radius: 0;
}

#button-delete {
  color: #f81b1b;
  background-color: #595959;
  border-color: #F7D08A;
  font-family: 'Rye', cursive;
  letter-spacing: 0.05em;
  border-radius: 0;
}

// For the nav-bar elements
.navbar-custom {
  display: flex;
  justify-content: space-between;
  background-color: #FCD0A1;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #87b6A7;
  text-shadow: 0 0 3px #F7D08A, 0 0 5px #F79F79;
}
.navbar-custom .navbar-nav .nav-link {
  color: #87b6A7;
  text-shadow: 0 0 3px #F7D08A, 0 0 5px #F79F79;
}
#head-categories {
  color: #87b6A7;
  text-shadow: 0 0 3px #F7D08A, 0 0 5px #F79F79;
}

.navbar-custom .navbar-nav .nav-link:hover {
  text-shadow: 2px 2px 3px #87b6A7, 3px 3px 5px #E3F09B;
}
#head-categories:hover {
  text-shadow: 2px 2px 3px #87b6A7, 3px 3px 5px #E3F09B;
}


//For the favorite icon:
.ico {
  border-radius: 50%;
  cursor: pointer;
  fill: #232323;
  transition: .4s;
}

.liked {
  transform: scale(1.05) rotate(360deg);
  background-color: #C62828;
  padding: .1rem;
  fill: white;
}

//For my_maps page tables:
td {
  text-decoration: none!important;
  background-color: rgba(231,216,201, .4);
}

th {
  background-color: rgba(127,127,127, .4);

}

.my-map-item {
  font-family: 'Shadows Into Light', cursive;
  color: #5B5941;
  text-shadow: 1px 2px 0px #FCD0A1;
  text-align: center;
}

//For map display page:
#map-title {

  font-family: 'Rye', cursive;
  // background-color: rgba(231,216,201, .4);
}



.map-container {
  border: 0.3em outset #FCD0A1; 
}


//Color Palette:
// color: #F79F79 Darker Peachy
// color: #F7D08A Sherbet Orange
// color: #E3F09B Electric Lemon
// color: #87b6A7 Dark seafoam
// color: #FCD0A1 Champagne
// color: #5B5941 Shadow brown
// color: #595959 Shadowy gray
// color: #7F7F7F Lighter gray
// color: #57E2E5 Turquoise
// color: #45CB85 Emerald
// color: #e7d8c9 Dusty beige